:root { --amarillo: #fcd116; --azul: #003893; --rojo: #ce1126; }

body { font-family: 'Segoe UI', sans-serif; background: #121212; color: #fff; margin: 0; }

header { padding: 40px; text-align: center; border-bottom: 5px solid var(--amarillo); }

.bloque-info img, .bloque-critica img { width: 90%; max-width: 600px; border-radius: 15px; margin: 20px 0; }

.seccion-preguntas { padding: 40px; background: #1e1e1e; }

button {
    display: block; width: 80%; margin: 15px auto; padding: 15px;
    background-color: var(--azul); color: white;
    border: 2px solid var(--amarillo); cursor: pointer;
    font-size: 1.1em; transition: 0.3s;
}

button:hover { background-color: var(--rojo); }

footer { text-align: center; padding: 20px; border-top: 1px solid #555; }
